{% extends "base.twig" %}

{% block headMenu %}
    {% include "head-menu.twig" with {'activePage': ''} only %}
{% endblock %}

{% block content %}
<div class="grid">

    <div class="row" >
        <div class="cell">
            <a href="/categories/edit-tree/" class="button small-button rounded">To tree</a>
        </div>
    </div>

    <div class="row" >
        <div class="cell">
            <form name="category" method="POST" action=".">

                <div class="grid">
                    <input type="hidden" name="category[id]" value="{{ form.getParam('id', 'value') }}"/>

                    <div class="row">
                        <div class="cell">
                            <div class="input-control input-text full-size">
                                <label>URL name:</label>
                                <input type="text" name="category[url_name]" value="{{ form.getParam('url_name', 'value') }}"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell">
                            <div class="input-control input-text full-size">
                                <label>Foreign name:</label>
                                <input type="text" name="category[foreign_name]" value="{{ form.getParam('foreign_name', 'value') }}"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell">
                            <div class="input-control input-text full-size">
                                <label>Native name:</label>
                                <input type="text" name="category[native_name]" value="{{ form.getParam('native_name', 'value') }}"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell">
                            <div class="input-control input-text">
                                <label>Sort field:</label>
                                <input type="text" name="category[sort_field]" value="{{ form.getParam('sort_field', 'value') }}"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell">
                            <div class="input-control input-text textarea full-size">
                                <label>Description:</label>
                                <textarea name="category[description]">{{ form.getParam('description', 'value') }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell">
                            <div class="input-control select">
                                <label>Parent category:</label>
                                <select name="category[parent_id]">

                                    {% set skey = form.getParam('parent_id', 'value') %}
                                    {% for key, value in form.getParam('parent_id', 'select_list') %}
                                    <option value="{{ key }}" {{ (key == skey) ? 'selected' : '' }}>{{ value }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell">
                            <button id="button_submit" type="submit" class="button rounded primary">Save</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>

</div>
{% endblock %}