{% extends "base.twig" %}

{% block header %}
    {% if showTest %}
        <link rel="stylesheet" href="/assets/css/test-form.css"/>
        <script type="text/javascript" src="/assets/js/test-form.js"></script>
    {% endif %}
{% endblock %}

{% block headMenu %}
    {% include "head-menu.twig" with {'activePage': ''} only %}
{% endblock %}

{% block content %}
    <div class="grid">

        {% for category in categories %}
            <div class="row">
                <div class="cell">

                    {% if loop.last %}
                        <h3>{{ category.native_name }}</h3>
                    {% else %}
                        <a href="/grammar-rule/show/{{ category.id }}/{{ category.url_name }}/">
                            <h3>{{ category.native_name }}</h3></a>
                    {% endif %}
                    <div>{{ category.description|raw }}</div>

                </div>
            </div>
        {% endfor %}

    </div>

    {% if showTest %}
        <hr/>
        {% include "test/screen.twig" with {'startUrl': startUrl, 'completeUrl': completeUrl} only %}
    {% endif %}

{% endblock %}