{% if GL_USER_IS_LOGGED_IN %}

    <nav>
        <ul class="h-menu block-shadow-impact">
            <li class="{{ (activePage == '/grammar-rules/show-tree/') ? 'active' : '' }}">
                <a href="/grammar-rules/show-tree/">Правила</a>
            </li>
            <li class="{{ (activePage == '/categories/edit-tree/') ? 'active' : '' }}">
                <a href="/categories/edit-tree/">Категории</a>
            </li>
            <li class="{{ (activePage == '/questions/show-tree/') ? 'active' : '' }}">
                <a href="/questions/show-tree/">Дерево вопросов</a>
            </li>
            <li class="{{ (activePage == '/questions/show/') ? 'active' : '' }}">
                <a href="/questions/show/">Список вопросов</a>
            </li>
            <li class="{{ (activePage == '/assistant/') ? 'active' : '' }}">
                <a href="/assistant/">Редактор шаблонов</a>
            </li>
            <li class="{{ (activePage == '/test/page/') ? 'active' : '' }}">
                <a href="/test/page/">Тренировка</a>
            </li>
            <li class="place-right">
                <a href="/logout">Выход</a>
            </li>
        </ul>
    </nav>

{% else %}

    <nav>
        <ul class="h-menu block-shadow-impact">
            <li class="{{ (activePage == '/grammar-rules/show-tree/') ? 'active' : '' }}">
                <a href="/grammar-rules/show-tree/">Правила</a>
            </li>
            <li class="place-right">
                <a href="/login">Вход</a>
            </li>
        </ul>
    </nav>

{% endif %}